<div id="<%= dom_id playlist_track %>">
  <p>
    <strong>Playlist:</strong>
    <%= playlist_track.playlist_id %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= playlist_track.track_id %>
  </p>

</div>
