<h1>Editing playlist track</h1>

<%= render "form", playlist_track: @playlist_track %>

<br>

<div>
  <%= link_to "Show this playlist track", @playlist_track %> |
  <%= link_to "Back to playlist tracks", playlist_tracks_path %>
</div>
