<%= render 'shared/display_record', record: media_type do %>
  <p><strong>Tracks Count:</strong> <%= media_type.tracks_count ? media_type.tracks_count : media_type.tracks.count %></p>
  <p><strong>Created at:</strong> <%= media_type.created_at %></p>
  <p><strong>Updated at:</strong> <%= media_type.updated_at %></p>
<% end %>
