<h1>Editing media type</h1>

<%= render "form", media_type: @media_type %>

<br>

<div>
  <%= link_to "Show this media type", @media_type %> |
  <%= link_to "Back to media types", media_types_path %>
</div>
