<h1>Editing invoice line</h1>

<%= render 'form', invoice_line: @invoice_line %>

<br>

<div>
  <%= link_to 'Show this invoice line', @invoice_line %> |
  <%= link_to 'Back to invoice lines', invoice_lines_path %>
</div>
