<%
  id = 'text_field_' + object_id.to_s
  name = defined?(locals) ? locals[:field_name] : (defined?(field_name) ? field_name : nil)
  value = defined?(locals) ? locals[:field_value] : (defined?(field_value) ? field_value : '')
  if value.is_a?(Array)
    value = value.join(';')
  end

  label = defined?(locals) ? locals[:field_label] : (defined?(field_label) ? field_label : nil)
  label ||= 'Text'

  filter_props = defined?(locals) ? locals[:field_props] : (defined?(field_props) ? field_props : nil)
  filter_props ||= {}

  template = defined?(locals) ? locals[:template_name] : (defined?(template_name) ? template_name : nil)
%>

<%= render 'shared/filter_card', id: id, name: name, template: template do %>
  <div class=''>
    <%= label_tag name, translate(label), class: 'form-label' %>
    <%= text_field_tag name, value, class: 'form-control' %>
  </div>
<% end %>
