<%= render 'shared/display_record', record: playlist do %>
  <p><strong>Tracks Count:</strong> <%= playlist.tracks_count ? playlist.tracks_count : playlist.tracks.count %></p>
  <p><strong>Created at:</strong> <%= playlist.created_at %></p>
  <p><strong>Updated at:</strong> <%= playlist.updated_at %></p>
<% end %>
