<h3>You can't <%= @action %> more than <%= pluralize(@limit, @model_name) %> at a time</h3>
<p>Number of selected records: <%= @records.size %></p>
<p class='mb-0'>Please select fewer records and try again.</p>
